/* #card{
    position: relative;
    border: 1px solid rgb(204, 204, 204);
    width:630px;
    height:300px;
    text-align: center; 
    font-family: "Monospace", Courier New;
    /* padding-top: 60px; */
 */

/* #card div{
    color: black;
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
} */

#button{
    margin-top: 10px;
}

/* img{
    width: 50px;
    height: 50px;
} */

/* #name{
    padding-top: 30px;
} */
